/* Created by CUD */

*{
  box-sizing: border-box;
  font-family: sans-serif, Georgia, Arial, Helvetica;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  font-family: sans-serif, Georgia, Arial, Helvetica;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-size: 1.05rem;
  background-clip: border-box;
  background-color: #d2dce0;
}

a {
  color: #b06e5d;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 550;
}

a:hover {
  color: #8e2a10;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 580;
}




.sec1{
  position: relative;
  height: max-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#scroller{
  display:flex;
  justify-content:center;
  align-items:center;
  position:fixed;
  bottom:700px;
  right:40px;
  height:50px;
  font-size:3rem;
  width:50px;
  background: rgba(22,157,247,0.5);
  color:#fff;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
  background-position:center;
  background-repeat:no-repeat;
  visibility:hidden;
  /* opacity:0; */
  z-index:1000;
  cursor:pointer;
  transition:.3s;
}

#scroller.active{
  visibility:visible;
  opacity:1;
  bottom:40px;
  border: solid 1.5px #000;
  border-radius: 24px 24px 0 0;
}

/* New Navbar Code Starts Here */
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem;
    font-size: 5rem;
    border-top: solid 1px #004953;
    border-bottom: solid 1px #004953;
}

.navbar-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* five columns */
  /*grid-template-columns: 1fr 1fr 1fr;*/ /* column layout */
  row-gap: 10px; /* Add spacing between rows */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  list-style: none; /* Remove default bullet points */
}

@media (max-width: 767px) {
  .navbar-grid {
    grid-template-columns: repeat(3, 1fr); /* three columns */
  }
}

.nav-item {
  text-align: center; /* Center-align buttons */
}

/*
headeer top
*/
.topbar{
  background-color: #d4dceb; /*#212529; */
  padding: 0;
}

.topbar .container .row {
  margin:-7px;
  padding: 1rem;
}

.topbar .container .row .col-md-12 { 
  padding:0;
}

.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #191970; /*#f1f6ff;*/
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
} 

header .navbar {
    margin-bottom: 0;
}


ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border: none;  
  margin:0;
/* This is recently added to pad the icons */
  padding: .5rem;
}

ul.social-network li i {
  margin:0;
/* This was added to adjust the sizes of the icons */
  font-size: 3rem;
  font-weight: 600;
  color: #0b0000;
}

ul.social-network li i:hover {
  margin:0;
/* This was added to adjust the sizes of the icons */
  font-size: 3.3rem;
  font-weight: 800;
  color: #518c82;
}

ul.social-network li {
    display:inline;
    margin: 0 1.2rem;
    padding: .5rem .1rem;
/* Trying the best spacing for icons */
    width: 3.5rem; /*32px;*/
    display: inline-block;
    text-align: center;
/* Trying out best height space for icons */
    height: 3.5rem; /*32px;*/
    vertical-align: baseline;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s ease-out;
  color: #008080;
}

li {
    list-style-type: none;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #ecf3f9!important; /*#222*/
}

.mx-background-top-linear {
    background: linear-gradient(45deg, #c5caca 48%, #a7bbbd 48%);
}


/* ##############  SERVICE SECTION BOXES #################*/

.services{
  width: 35rem;
  height: 30rem;
  position: relative;
}
.services img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .services{
      width: 35rem;
      height: 32rem;
      position: relative;
    }
    .services img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }



/*----section 2 starts here-------*/
.sec2{
  position: relative;
  height: fit-content; /*auto*/
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 4rem; /*5rem*/
  background: #000000; /*#b2f3fb;*/
  margin-top: .5rem;
  overflow:hidden;
}

.sec2 .sec2_head h2{
font-family: Diplomata; 
font-size: 4rem;
margin-bottom: 4rem;
color: #333;
text-align: center; 
}


.sec2 .container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fdfcfa;
  font-weight: bold;
  padding: 0.1rem;
}

@media (max-width: 767px) {
  .sec2 .container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fdfcfa;
    font-weight: bold;
    padding: 0.1rem;
    }
  }

/* Just Added Bold Font Weight For All .container2 Classes */
.sec2 .container2 .card{
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0e9; /*#ebedf2;*/
  border-radius: 1rem;
  transition: .3s;
  margin: 2rem;
  font-weight: bold;
}

.sec2 .container2 .card:hover{
  transform: translateY(-.3rem);
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.sec2 .container2 .card .svg{
  width: 35rem;
  font-weight: bold;
}

.sec2 .container2 .card .svg img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  font-weight: bold;
  /*object-fit: cover;*/ 
}

.sec2 .container2 .card .content2{
  margin-top: 2rem;
  font-weight: bold;
}

.sec2 .container2 .card .content2 h2{
  display: inline-block;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 1rem; 
  margin-left: 3rem; 
  color: #333;
}
.sec2 .container2 .card .content2 h5{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 1rem; 
  margin-left: 3rem; 
  color: #008080;
  text-transform: uppercase;
}

.sec2 .container2 .card .content2 p{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 2rem;
  color: #686868;
  text-transform: capitalize;
  text-align: justify;
}
.sec2 .container2 .card .content2 h3{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 2rem;
  color: #c7c7c7;
  text-transform: capitalize;
  text-align: right; 
}

.sec2 .container2 .card .content2 h3 a{
  color: #303e45;
  font-weight: bold;
}

.w3-bar{
 display: inline-block;
 width: fit-content;
 font-size: 100%;
}

/*----section 2 ends here-------*/




/*----section 3 starts here-------*/
.sec3{
  position: relative;
  height: auto;
  width: 100%;
  padding: 3rem 4rem;
  display: flex;
  background-color: #d2dce0;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.sec3 h1{
  font-size: 3.5rem;
  color: #333;
}
.sec3 h3{
  font-size: 2rem;
  font-weight: 300;
  color: #505050;
  margin: 2rem 0;
}
.sec3 img{
  width: 95%;
}
.sec3 h2{
  font-size: 2rem;
  font-weight: 200;
  color: #777;
  margin: 2rem 0 1rem 0;
}
.sec3 p{
  font-size: 1.7rem;
  font-weight: 300;
  color: #0b0000;
  margin: .3rem;
}
.sec3 ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.sec3 ul li{
  margin:0 1rem;
}
.sec3 ul li a{
  text-decoration: none;
  font-size: 1.5rem;
  color: hsl(0, 88%, 43%);
}

.sec3 ul li a:hover{
  text-decoration: none;
  font-size: 2rem;
  color: hsl(252, 89%, 48%);
  border-bottom: 1px solid #004953;
  background-color: #bbd6da;
}
/*----section 3 ends here-------*/




/*----section 4 starts here-------*/
.sec4{
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #b0b1a2;
  color: #000;
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* LOGO ON FOOTER */
.sec4 .footer_col_1 .footer_logo{
  width: 15rem;
}

.sec4 .footer_col_1 .footer_logo p.img{
    border: solid 2px #008080;
    border-radius: 15px 8px 12px 4px;
    width:70px;
    height:35px;
}

.sec4 .footer_col_1 .footer_logo img{
  width: 100%;
}

.sec4 .footer_col_1 .footer_logo p.img img{
    height:100%;
    width:100%;
    border: solid 2px #000000;
    border-radius: 15px 8px 12px 4px;
}

.sec4 .footer_col_1 h2{
  font-size: 1.7rem;
  color: #777;
  font-weight: 200;
}
.sec4 .footer_col_2 h2{
  font-size: 2rem;
  color: #333;
  font-weight: 200;
  margin-bottom: 3rem;
}
.sec4 .footer_col_2 .links ul{
  list-style-type: none;
}
.sec4 .footer_col_2 .links ul li{
  margin: 1rem 0;
}
.sec4 .footer_col_2 .links ul li a{
  font-size: 2rem;
  color: #777;
  cursor: pointer;
  transition: .3s;
}
.sec4 .footer_col_2 .links ul li a:hover{
  color: #333;
}
.sec4 .footer_col_3 h2{
  font-size: 2rem;
  color: #333;
  font-weight: 200;
  margin-bottom: 3rem;
}
.sec4 .footer_col_3 .links ul{
  list-style-type: none;
}
.sec4 .footer_col_3 .links ul li{
  margin: 1rem 0;
}
.sec4 .footer_col_3 .links ul li a{
  font-size: 2rem;
  color: #777;
  cursor: pointer;
  transition: .3s;
}
.sec4 .footer_col_3 .links ul li a:hover{
  color: #333;
}
/*----section 4 ends here-------*/


/*----media query starts here------*/
@media(max-width:991px){
  html{
      font-size: 55%;
  }
}
@media(max-width:768px){
  html{
      font-size: 45%;
  }
}
@media(max-width:683px){
  html{
      font-size: 45%;
  }
  
  .menu{
      display: inline-block;
  }
  .nav .navbar ul {
      display: none;
      list-style-type: none;
  }
}
@media(max-width:360px){
  .sec1 .container .sec1_gif {
          background-size: 100% 100%;
          float: right; 
          display: flex; 
          z-index: -1;
  }
  
  .sec2 .sec2_head h2 {
      font-family: Diplomata; 
      display: block; 
      margin: 0; 
      margin-bottom: 2rem;
      font-size: 3rem;
      padding: 1rem; 
      color: #333;
      width: 100%;
      text-align: center; 
}

  .sec3 img {
      width: 100%;
  }
  .sec3 h1 {
      font-size: 3rem;
  }
  .sec3 ul li a {
      font-size: 2rem;
      color: rgb(238, 137, 13);
  }
  .sec3 ul {
      flex-wrap: wrap;
      flex-direction: row; /*column*/
      color: rgb(238, 137, 13);
  }
  .sec4 {
      flex-direction: row; /*column*/
      align-items: center;
  }
  .sec4 .footer_col_2 h2 {
      margin-bottom: 1rem;
      margin-top: 3rem;
  }
  .sec4 .footer_col_2 .links ul {
      margin-bottom: 4rem;
  }
  .sec4 .footer_col_3 h2 {
      margin-bottom: 2rem;
      margin-right: 6rem;
  }
  .sec3 {
      padding: 5rem;
      padding-right: 8rem;
  }
  .nav .navbar ul{
      display: none;
      list-style-type: none;
  }
}
/*----media query ends here------*/

/* IMG Editing */
img#imgg{
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
   height: 100%;
}

/* OLD CUD CSS */

.diplomata { font-family: "Diplomata"; }

.ttext {
background: rgba(0,0,0,0.5);
padding: 7px;
color: #fff;
border-bottom: 0px solid #f87217;
margin: 7px;
}

.ttext a {
color: #f87217;
}

.coverone {
background: rgba(173, 175, 162, 0.2);
padding: 7px;
}

.coveroneHead {
  background: rgba(22,157,247,0.7);
  padding: .5rem auto;
  margin: 0;
  border-bottom: 2px solid #f3f0e8;
  }

.coverone img {
    width: 100% !important;
    height: auto !important;
}


.plus {
    margin: 3px;
    border-radius: 8px;
    display: block;
}

.anuselected {
        background: #e1e8ed;
        margin: 3px;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: solid 0.7px #292f33;
        border-radius: 8px;
        display: block;
}

.bbgpc {
        background: rgba(255,255,255,0.8);
        color: #000;
        margin-top: 20px; 
        margin-bottom: 20px;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -o-border-radius: 15px;
        box-shadow: 7px 8px 7px 0px #c7d2f7;
        -moz-box-shadow: 7px 8px 7px 0px #a1e6ff;
        -webkit-box-shadow: 7px 8px 7px 0px #c1c1c5;
}

.quote {
    color: black;
    font-weight: lighter;
    padding: 2px;
    padding-left: 20px;
    background: lightgrey url(http://jentblue.xtgem.com/bg_new_content_spring.png);
    background-position: bottom 100%;
    border-bottom: 0.7px solid black;
    border-left: 8px solid #faf9f6;
    border-radius: 10px;
}


.contact {
background: rgba(0,0,0,0.5);
color: #fff;
  margin-left: 15px;
margin-right: 15px;
margin-top: 25px;
margin-bottom: 5px;
padding-top: 20px;
padding-bottom: 12px;
padding-left: 12px;
padding-right: 12px;
text-transform: capitalize;
border-left: 2.3px solid #f9feff;
border-right: 2.3px solid #f9feff;
}

.contactHead {
  background: rgba(0,0,0,0.9);
  color: #fff;
  margin: 0;
  padding: 1rem auto;
  text-transform: capitalize;
  border-left: 2.1px solid #f8f3ed;
  border-right: 2.1px solid #f8f3ed;
  }

.whitenho {
background: #fff;
color: black;
padding: 5px;
padding-top: 10px;
padding-bottom: 10px;
margin: 1px;
border-bottom: 2.8px solid rgb(158, 177, 193);
border-top: .2rem solid #bbd4fa;
text-align: justify;
}


/* Menu BG */
.bgcud1 { 
 background-color:#c5caca;
 color: #232020;
background-size:cover;
} 

.bgcud7 { 
  background-clip: border-box;
  background-origin: border-box;
  background: url("") center no-repeat #ffffff;
   background-size: cover;
} 

/* Dark Green */ 
.bgcud2 { background: linear-gradient(to top right, #004953 0%, #008080 100%); 
background-size:cover; 
color: #fff;
} 

.bgcud3 { background: linear-gradient(to top right, #e9ffdb 0%, #aaf0d1 100%); 
background-size:cover; 
} 

.bgcud4 { background: linear-gradient(to top right, #008a8a 0%, #00ecec 100%); 
background-size:cover; 
}

/*Dark Red */ 
.bgcud5 { background: linear-gradient(to top right, #800000 0%, #ff0000 100%);
background-size:cover; 
color: #ffffff; 
}

/* BADGES and TAGS */
.w3-badge,.w3-tag 
        { background-color:#000;
          color:#fff;
          display:inline-block;
          padding-left:8px;
          padding-right:8px;
          text-align:center;
}
.w3-badge {
  border-radius:50%;
}


/* SIZES */
.w3-tiny{font-size:10px!important;}
.w3-small{font-size:1.2rem!important;}

@media(min-width:768px){
    .w3-small{font-size:12px!important;}
  }

.w3-medium{font-size:15px!important;}
.w3-large{font-size:18px!important;}
.w3-xlarge{font-size:24px!important;}
.w3-xxlarge{font-size:36px!important;}
.w3-xxxlarge{font-size:48px!important;}
.w3-jumbo{font-size:64px!important;}


/* ALIGNMENTS */
.w3-left-align{text-align:left!important;}
.w3-right-align{text-align:right!important;}
.w3-justify{text-align:justify!important;}
.w3-center{text-align:center!important;}



/* COLORS */

.w3-snow,.w3-hover-snow:hover{color:#000!important;background-color:#d3dae5!important}


.w3-whitesmoke,.w3-hover-whitesmoke:hover{color:#000!important;background-color:#d9e6e6!important}


.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#ffffff!important}

.w3-amber,.w3-hover-amber:hover{color:#000!important;background-color:#ffc107!important}

.w3-aqua,.w3-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}

.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}

.w3-light-blue,.w3-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}

.w3-brown,.w3-hover-brown:hover{color:#fff!important;background-color:#795548!important}

.w3-cyan,.w3-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}

.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}

.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}

.w3-light-green,.w3-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}

.w3-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}

.w3-khaki,.w3-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}

.w3-lime,.w3-hover-lime:hover{color:#000!important;background-color:#cddc39!important}

.w3-orange,.w3-hover-orange:hover{color:#000!important;background-color:#ff9800!important}

.w3-deep-orange,.w3-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}

.w3-pink,.w3-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}

.w3-purple,.w3-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}

.w3-deep-purple,.w3-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}

.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}

.w3-sand,.w3-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}

.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#009688!important}

.w3-yellow,.w3-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}

.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}

.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}

.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}

.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}

.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}

.w3-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}

.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}

.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}

.w3-text-amber,.w3-hover-text-amber:hover{color:#ffc107!important} .w3-text-aqua,.w3-hover-text-aqua:hover{color:#00ffff!important}

.w3-text-blue,.w3-hover-text-blue:hover{color:#2196F3!important}

.w3-text-light-blue,.w3-hover-text-light-blue:hover{color:#87CEEB!important}

.w3-text-brown,.w3-hover-text-brown:hover{color:#795548!important}

.w3-text-cyan,.w3-hover-text-cyan:hover{color:#00bcd4!important}

.w3-text-blue-grey,.w3-hover-text-blue-grey:hover,.w3-text-blue-gray,.w3-hover-text-blue-gray:hover{color:#607d8b!important}

.w3-text-green,.w3-hover-text-green:hover{color:#4CAF50!important}

.w3-text-light-green,.w3-hover-text-light-green:hover{color:#8bc34a!important}

.w3-text-indigo,.w3-hover-text-indigo:hover{color:#3f51b5!important}

.w3-text-khaki,.w3-hover-text-khaki:hover{color:#b4aa50!important}

.w3-text-lime,.w3-hover-text-lime:hover{color:#cddc39!important}

.w3-text-orange,.w3-hover-text-orange:hover{color:#ff9800!important}

.w3-text-deep-orange,.w3-hover-text-deep-orange:hover{color:#ff5722!important}

.w3-text-pink,.w3-hover-text-pink:hover{color:#e91e63!important}

.w3-text-purple,.w3-hover-text-purple:hover{color:#9c27b0!important}

.w3-text-deep-purple,.w3-hover-text-deep-purple:hover{color:#673ab7!important}

.w3-text-red,.w3-hover-text-red:hover{color:#f44336!important}

.w3-text-sand,.w3-hover-text-sand:hover{color:#fdf5e6!important}

.w3-text-teal,.w3-hover-text-teal:hover{color:#009688!important}

.w3-text-yellow,.w3-hover-text-yellow:hover{color:#d2be0e!important}

.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}

.w3-text-black,.w3-hover-text-black:hover{color:#000!important}

.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}

.w3-text-light-grey,.w3-hover-text-light-grey:hover,.w3-text-light-gray,.w3-hover-text-light-gray:hover{color:#f1f1f1!important}

.w3-text-dark-grey,.w3-hover-text-dark-grey:hover,.w3-text-dark-gray,.w3-hover-text-dark-gray:hover{color:#3a3a3a!important}

.w3-border-amber,.w3-hover-border-amber:hover{border-color:#ffc107!important}

.w3-border-aqua,.w3-hover-border-aqua:hover{border-color:#00ffff!important}

.w3-border-blue,.w3-hover-border-blue:hover{border-color:#2196F3!important}

.w3-border-light-blue,.w3-hover-border-light-blue:hover{border-color:#87CEEB!important}

.w3-border-brown,.w3-hover-border-brown:hover{border-color:#795548!important}

.w3-border-cyan,.w3-hover-border-cyan:hover{border-color:#00bcd4!important}

.w3-border-blue-grey,.w3-hover-border-blue-grey:hover,.w3-border-blue-gray,.w3-hover-border-blue-gray:hover{border-color:#607d8b!important}

.w3-border-green,.w3-hover-border-green:hover{border-color:#4CAF50!important}

.w3-border-light-green,.w3-hover-border-light-green:hover{border-color:#8bc34a!important}

.w3-border-indigo,.w3-hover-border-indigo:hover{border-color:#3f51b5!important}

.w3-border-khaki,.w3-hover-border-khaki:hover{border-color:#f0e68c!important}

.w3-border-lime,.w3-hover-border-lime:hover{border-color:#cddc39!important}

.w3-border-orange,.w3-hover-border-orange:hover{border-color:#ff9800!important}

.w3-border-deep-orange,.w3-hover-border-deep-orange:hover{border-color:#ff5722!important}

.w3-border-pink,.w3-hover-border-pink:hover{border-color:#e91e63!important}

.w3-border-purple,.w3-hover-border-purple:hover{border-color:#9c27b0!important}

.w3-border-deep-purple,.w3-hover-border-deep-purple:hover{border-color:#673ab7!important}

.w3-border-red,.w3-hover-border-red:hover{border-color:#f44336!important}

.w3-border-sand,.w3-hover-border-sand:hover{border-color:#fdf5e6!important}

.w3-border-teal,.w3-hover-border-teal:hover{border-color:#009688!important}

.w3-border-yellow,.w3-hover-border-yellow:hover{border-color:#ffeb3b!important}

.w3-border-white,.w3-hover-border-white:hover{border-color:#fff!important}

.w3-border-black,.w3-hover-border-black:hover{border-color:#000!important}

.w3-border-grey,.w3-hover-border-grey:hover,.w3-border-gray,.w3-hover-border-gray:hover{border-color:#9e9e9e!important}

.w3-border-light-grey,.w3-hover-border-light-grey:hover,.w3-border-light-gray,.w3-hover-border-light-gray:hover{border-color:#f1f1f1!important}

.w3-border-dark-grey,.w3-hover-border-dark-grey:hover,.w3-border-dark-gray,.w3-hover-border-dark-gray:hover{border-color:#616161!important}

.w3-border-pale-red,.w3-hover-border-pale-red:hover{border-color:#ffe7e7!important}

.w3-border-pale-green,.w3-hover-border-pale-green:hover{border-color:#e7ffe7!important}

.w3-border-pale-yellow,.w3-hover-border-pale-yellow:hover{border-color:#ffffcc!important}

.w3-border-pale-blue,.w3-hover-border-pale-blue:hover{border-color:#e7ffff!important}



.column {
   float: left; 
   padding: 5px; 
   height: 400px;
}

.left { width: 40%;}
.right {width: 60%;}

.row:after {
   content: " ";
   display: table; 
   clear: both; 
}

.contextt{
  position: absolute;
  left: 10%;
  color: #fff;
  max-width: 60rem;
}
.contextt h2{
  font-size: 4rem;
  margin: 0;
}
.contextt h1{
  font-size: 6rem;
  margin: 0;
  padding: 0;
}
.contextt h4{
  font-size: 1rem;
  margin-bottom: 3rem;
}
.contextt h5{
  font-size: 2.5rem;
  margin: 0 0 25px 0;
}
.contextt a{font-size: large;

  background: rgb(72, 117, 241);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  font-weight: 800;
}


/* THE LOGO ON HEADER 
.nav .logo p.img {
        width:70px;
        height:40px;
        margin-top:2px;
        margin-left:2px;
        font-size: 3rem;
        font-weight: bold;
        position: fixed;
        top:2%;
        left: 2%;
        display: flex;
        justify-content: flex-start;
        align-items: left;
        border: solid 2px #008080;
        border-radius: 15px 8px 12px 4px;
}

.nav .logo p.img img{
        width:100%;
        height:100%;
        border: solid 2px #000000;
        border-radius: 15px 8px 12px 4px;
} */


/* STORY SECTION  (MANUAL SLIDES) */

  /* CSS FOR SCROLLING USERS */
.stories{
  width: 100%;
  height: 150px;
  font-weight: bold;
  border-bottom: 5px solid #303e45;
  position: relative;
  margin-top: 13.5rem; 
  margin-bottom: .5rem; 
  overflow-y: hidden;
  overflow-x: auto;
} 

@media(min-width: 720px) {
  .stories{
    width: 100%;
    height: 150px;
    font-weight: bold;
    border-bottom: 5px solid #303e45;
    position: relative;
    margin-top: 13rem;
    margin-bottom: .5rem;
    overflow-y: hidden;
    overflow-x: auto;
  } 
}

._story{
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.s-card{
  width: 100px;
  height: 95%;
  font-weight: bold;
  border: 2px solid #303e45;
  border-radius: 12px 0;
  overflow: hidden;
  position: relative;
  min-width: 100px; 
  margin-right: 3px;
  margin-left: 3px; 
}

.s-card img{
  width: 100%;
  height: 100%;
  background-color: #ecf3f9;
  color: #ffffff; 
  border: 1px solid #303e45;
  border-radius: 12px 0;
}

.s-card img:hover{
  width: 97%;
  height: 97%;
  background-color: #4c6479;
  color: #ffffff; 
  border: .6rem solid #6a8a69;
  border-radius: 15px 0;
}

.s-name{
  width: 100%;
  height: 40%;
  font-weight: bold;
  z-index: 2;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-image: linear-gradient(to top,black 5%,transparent);
}

.s-name>span{
  margin-left: 5px;
  font-family: sans-serif, Georgia;
  font-size: 1.2rem;
}

._myStory::before {
  content: '+';
  position: absolute;
  width: 30px;
  height: 30px;
  margin: auto;
  background-color: #fff;
  border: solid 2px #303e45;
  border-radius: 50%;
  color: #303e45;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  left: 5px;
  top: 15px;
}

._myStory:hover::before {
  content: '+';
  position: absolute;
  width: 33px;
  height: 33px;
  margin: auto;
  background-color: #55735d;
  border: solid 2px #b4b8d6;
  border-radius: 50%;
  color: #f5f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  font-weight: bold;
  left: 5px;
  top: 15px;
}

/* SCROLLING USERS END HERE */




 /* the following is meant to fix the floating issues */
 table {
  /*display: inline-block;*/
  font-family: sans-serif, Georgia, Arial, Helvetica;
  border-collapse: collapse;
  max-width: 96%;
  width: 100%;
  height: fit-content;
  text-wrap: stable;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
  width: fit-content;
}

th,
td {
  position: relative;
  height: 100%;
  width: 100%;
  text-wrap: stable;
  border: 1px solid #ccc;
  text-align: center;
  padding: 3px;
}

thead,
tr:nth-child(even) {
  background: #eee;
}

thead th:first-of-type {
  /* This was initially disabled, but i just enabled it to see the result*/
  width: 50%;
}

table:nth-of-type(1) thead {
  background: #708090;
  color: #e4e4e4;
}

table:nth-of-type(2) thead {
  background: #3cb371;
  color: #e4e4e4;
}

table {
  table-layout: fixed;
}

td, th {
  overflow: hidden;
  white-space: normal;
  /* width: fit-content;*/
}

/* Global Image Rule */
img {
  max-width: 100% !important;
  height: auto !important;
  object-fit: contain !important;
}

#c {
  font-size: 1.5rem;
  font-weight: 700;
  padding: .4rem;
  color: #4682b4;
  border: none;
  margin-bottom: .6rem;
  text-decoration: none;
  word-wrap: normal;
  text-wrap: stable;
  text-align: center;
  transform: rotate(-40deg);
  display: inline-block;
}

#c:hover {
  color: #008080;
  font-size: 1.6rem;
  font-weight: 900;
  padding: .7rem;
  border-left: solid 3px #8caa95;
  text-decoration: none;
}

.trusted {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  background: #062020;
  color: #ffffff;
  font-size: 1.55rem;
  font-weight: 700;
  padding: .4rem;
  border: solid 1px #ccc;
  border-radius: 50%;
  text-decoration: none;
}

.trusted:hover {
  background: #53734c;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 900;
  padding: .4rem;
  margin-left: 6rem;
  border: solid 1px #126161;
  border-radius: 50%;
  text-decoration: none;
}
